

h1, h2, a {
font-family: "Raleway", sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
}

h1 {
color: #0D2C40;
font-weight: 400;
font-size: 45px;
margin: 0;
}

h2{
color:#0D2C40;
font-size: 20px;
}

p {
font-family: "Droid Serif", serif;
line-height: 24px;
font-size: 18px;
}

body {
text-align: center;
text-decoration: none;
margin: 0;
}

a{
color: white;
font-size: 18px;
margin: 0 20px;
border-bottom: 2px solid transparent;
}

a:hover {
border-color: white;
}

header {
	background: #F15B31;
	color: white;
	padding: 30px 20px;
}

nav {
	background: #00A6B3;
	color: white;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto 35px auto;
}

img {
	margin: 40px 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright{
  font-family: Raleway;
	float: left;
}

.message{
	font-family: Raleway;
	float:right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}
